<div id="header">
  <h1>Before I die I want to
    <form id="newWish">
      <input type="text" name="wish" autocomplete="off" maxlength="60">
    </form>
  </h1>
  <p class="muted"><span id="wish-length">60</span> characters remaining</p>
</div>

<div id="sort-links">
  <a id="todays-top-ten" href="">Today's Top 10</a>
  <a id="top-ten" href="">Top 10</a>
  <a id="all" href="">All</a>
</div>

<div id="wish_list">
</div>

<script id="all_wishes" type="text/x-handlebars-template">
  {{#each wishes}}
    {{> new_wish }}
  {{/each}}
</script>

<script id="new_wish" type="text/x-handlebars-template">
  <div class="wish">
    <p><span class="tagline">Before I die I want to</span> <span class="wish-text" style="color: {{color}}">{{text}}</span></p>
    <div class="underline"></div>
    <div class="sub-wish">
      <p class="time muted">- {{created_at}} &nbsp</p>
      <a class="vote" href="/{{id}}/downvote"><i class="fa fa-minus"></i></a>
      <span class="vote_count">{{votes}}</span>
      <a class="vote" href="/{{id}}/upvote"><i class="fa fa-plus"></i></a>
    </div>
  </div>
</script>


