// Place all the styles related to the wishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$stencil : 'Allerta Stencil', sans-serif;
$handwriting : 'Architects Daughter', cursive;

body {
  // background-image: url('Black Chalkboard Background.jpeg');
  // background-image: url('chalkboard_block.png');
  background-image: url('chalkboard_block.jpg');
  background-repeat: repeat;
  background-color: #000000;
  color: #ffffff;
}

#main {
  width: 80%;
  margin: auto;
}

#header {
  text-align: center;
  >h1{
    font-family: $stencil;
    font-size: 3em;
    text-shadow: 1px 1px 11px #BABABA;
    color: rgba(255, 255, 255, .9);
    margin-bottom: 10px;
  }
}

#newWish {
  >input {
    width: 80%;
    text-align: center;
    font-size: 1em;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, .8);
    font-family: $handwriting;
    &:focus {
      outline:none;
    }
  }
}

p {
  margin: 0 0 5px 0;
}

.underline {
  border-bottom: 2px solid rgba(255, 255, 255, .8);
  // border-bottom: 2px solid white;
  position: absolute;
  left: 272px;
  right: 0px;
  top: 40px;
  z-index: -1;
}

.muted {
  color: #bfbfbf;
  font-style: italic;
  display: inline;
}

.time {
  padding-left: 10px;
  position: relative;
  right: 0px;
}

.vote {
  color: #bfbfbf;
  // color: #ffffff;
}

.wish {
  position: relative;
  margin: 5px 0 5px 0;
  padding: 10px;
}

.wish-text {
  font-size: 1.7em;
  // border-bottom: 2px solid white;
  width: 100px;
  padding-left: 10px;
  font-family: $handwriting;
}

.sub-wish {
  padding-left: 20px;
}

.tagline {
  font-family: $stencil;
  font-size: 1.5em;
  text-shadow: 1px 1px 5px #ffffff;
  color: rgba(255, 255, 255, .8);
}

#sort-links {
  text-align: center;
  margin: 30px;
  > a {
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
    font-family: $handwriting;
    font-size: 1.5em;
  }
}
