// Place all the styles related to the wishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$stencil : 'Allerta Stencil', sans-serif;
$handwriting : 'Architects Daughter', cursive;

body {
  background-image: url('chalkboard_block.jpg');
  background-repeat: repeat;
  background-color: #000000;
  color: #ffffff;
}

#main {
  width: 80%;
  margin: 55px auto;
}

#header {
  text-align: center;
  margin-bottom: 50px;
  >h1{
    font-family: $stencil;
    font-size: 3em;
    text-shadow: 1px 1px 11px #BABABA;
    color: rgba(255, 255, 255, .9);
    margin-bottom: 10px;
  }
}

#newWish {
  >input {
    width: 80%;
    text-align: center;
    font-size: 1em;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, .8);
    font-family: $handwriting;
    &:focus {
      outline:none;
    }
  }
}

p {
  margin: 0 0 5px 0;
}

.underline {
  border-bottom: 2px solid rgba(255, 255, 255, .8);
  position: absolute;
  left: 272px;
  right: 0px;
  top: 40px;
  z-index: -1;
}

.muted {
  color: #bfbfbf;
  font-style: italic;
  display: inline;
}

.time {
  padding-left: 10px;
  position: relative;
  right: 0px;
}

.vote {
  color: #bfbfbf;
}

.wish {
  position: relative;
  margin: 5px 0 5px 0;
  padding: 10px;
}

.wish-text {
  font-size: 1.7em;
  width: 100px;
  padding-left: 10px;
  font-family: $handwriting;
}

.sub-wish {
  padding-left: 20px;
}

.tagline {
  font-family: $stencil;
  font-size: 1.5em;
  text-shadow: 1px 1px 5px #ffffff;
  color: rgba(255, 255, 255, .8);
}

#sort-links {
  text-align: center;
  > a {
    color: #000000;
    text-decoration: none;
    margin-right: 40px;
    font-family: $handwriting;
    font-size: 1.5em;
    >:hover {
      color: #ffffff;
    }
  }
}

#search {
  padding: 0 12px;
  border-radius: 30px;
  width: 200px;
  font-family: $handwriting;
  font-size: 1.2em;
}

.navbar-custom {
  position: fixed;
  width: 100%;
  height: 45px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-color: #bbddf6;
  z-index: 1;
  color: #000000;
}

.navbar-left {
  float: left;
  margin: 6px;
}

.navbar-right {
  float: right;
  margin: 4px;
}

.nav-brand {
  margin: 0;
  font-family: $stencil;
}

.inline {
  display: inline;
}

.inline-margin {
  margin-right: 25px;
}
